body {
  font-family: "Montserrat", sans-serif;
  color: #2b3541;
}
a,
p {
  font-size: 18px;
  color: #2b3541;
  font-weight: 400;
  text-decoration: none;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0px;
}
.header-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-basis: 57.5%;
}
.header-logo {
  display: block;
  background-image: url(../img/logo.svg);
  background-position: center;
  width: 97px;
  height: 30px;
  background-repeat: no-repeat;
  background-size: cover;
}
.header-nav {
  list-style-type: none;
  display: flex;
  gap: 54px;
  padding-left: 0;
  color: #2b3541;
  justify-content: center;
  padding-top: 15px;
}
.header-nav li:hover {
  margin-top: -4px;
}
.header-nav a {
  font-size: 18px;
  text-decoration: none;
  color: #2b3541;
}
.header-nav a.active::after {
  content: "";
  width: 100%;
  display: block;
  border-bottom: 1px solid transparent;
  padding-top: 13px;
}
.header-nav a.active:hover {
  border-bottom: 1px solid #2b3541;
  padding-bottom: 13px;
}
.header-links {
  display: flex;
  gap: 30px;
  align-items: center;
}
a.insta-icon,
a.fb-icon {
  width: 30px;
  height: 30px;
}
.insta-icon:hover {
  transform: scale(1.26);
  transition: 0.5s;
}
.fb-icon:hover {
  transform: scale(1.26);
  transition: 0.5s;
}
.container {
  max-width: 1142px;
  margin: 0 auto;
  position: relative;
  padding: 0 15px;
}
.banner {
  max-height: 850px;
  margin-bottom: 398px;
}
.banner-content {
  max-width: 637px;
  max-height: 850px;
  padding: 220px 0 0;
}
.banner-box {
  max-width: 288px;
  margin-left: 92px;
}
.banner-title {
  font-size: 48px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 125%;
  margin-top: 0;
  letter-spacing: 0.03em;
}
.banner-info {
  font-size: 40px;
  margin: 45px 0 0 0;
  letter-spacing: 0.02em;
}
.banner-text {
  font-size: 18px;
  width: 270px;
  margin: 20px 0 55px 0;
  line-height: 150%;
}
.banner-btn {
  font-weight: 700;
  font-size: 16px;
  color: #2b3541;
  padding: 22px 30px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.03em;
  background-color: #fbf138;
  border: none;
  box-shadow: 0px 13px 24px rgba(251, 241, 56, 0.3);
  transition: 0.3s;
  top: 2px;
  position: relative;
  cursor: pointer;
}
.banner-btn:hover {
  color: #fbf138;
  background-color: #2b3541;
  box-shadow: 0px 13px 30px rgba(186, 180, 69, 0.2);
}
.btn-down {
  border: none;
  position: absolute;
  background-color: transparent;
  left: 15px;
  bottom: -267px;
  padding: 0 0;
  cursor: pointer;
}
.banner-bg {
  display: flex;
  gap: 20px;
  position: absolute;
  top: -8px;
  z-index: -1;
  right: -60px;
}
.banner-gradient-left {
  background: linear-gradient(
    90deg,
    #fbf138 0%,
    rgba(253, 249, 182, 0.45) 145.23%
  );
  width: 535px;
  height: 850px;
  opacity: 0.2;
}
.banner-gradient-right {
  background: linear-gradient(
    90deg,
    #fdf9b6 0%,
    rgba(253, 249, 182, 0.7) 166.81%
  );
  width: 235px;
  height: 850px;
  opacity: 0.2;
}
.banner-img {
  border: none;
  position: absolute;
  top: 39px;
  right: -100px;
  width: 125%;
  height: 95.5%;
  object-fit: cover;
  background-size: contain;
}
.event-title {
  margin-bottom: 42px;
  margin-left: -2px;
  padding-top: 30px;
}
.event-flex {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 157px;
  max-width: 100%;
}
.event-first {
  width: 367px;
  height: 600px;
  background-image: url(../img/event/maraphon.png);
  background-repeat: no-repeat;
  flex: 0 0 auto;
  background-size: cover;
  background-position: center;
  position: relative;
}
.box-gradient {
  background: linear-gradient(
    180deg,
    rgba(251, 241, 56, 0.3) 0%,
    rgba(253, 249, 182, 0) 100%
  );
  position: absolute;
  width: 100%;
  height: 100%;
  transition: 0.2s;
}
.box-gradient:hover {
  background: linear-gradient(
    180deg,
    rgba(251, 241, 56, 0.6) 0%,
    rgba(253, 249, 182, 0) 100%
  );
}
.button {
  opacity: 0;
  margin-left: 30px;
  margin-right: 116px;
  padding: 22px 30px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.03em;
  background-color: #2b3541;
  border: none;
  transition: 0.3s;
  cursor: pointer;
  position: relative;
}
.button a {
  font-weight: 700;
  font-size: 16px;
  color: #fbf138;
}
.box-gradient:hover .button {
  opacity: 1;
}
.date {
  font-weight: 700;
  line-height: 150%;
  margin: 29px 0 0 31px;
  opacity: 0.6;
}
h1 {
  font-size: 40px;
}
.event-name {
  width: 236px;
  display: block;
  font-size: 28px;
  font-weight: 700;
  line-height: 120%;
  margin: 22px 0px 40px 30px;
}
.type {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #fbf138;
  margin-bottom: 0;
  padding: 10px 21px;
  line-height: 150%;
}
.box-gradient:hover .type {
  opacity: 0;
}
.event-second {
  width: 367px;
  height: 600px;
  background-image: url(../img/event/trener.png);
  background-repeat: no-repeat;
  flex: 0 0 auto;
  background-size: cover;
  background-position: center;
  position: relative;
}
.event-third {
  width: 367px;
  height: 600px;
  background-image: url(../img/event/yoga.png);
  background-repeat: no-repeat;
  flex: 0 0 auto;
  background-size: cover;
  background-position: center;
  position: relative;
}
.plan {
  margin-bottom: 160px;
  padding-top: 5px;
}
.plan-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}
.plan-title {
  max-width: 300px;
}
h1.plan-title {
  margin: 0;
}
.plan-item-title {
  max-width: 300px;
  margin: 0;
  line-height: 125%;
}
p.plan-item-title {
  margin: 0;
}
.plan-period {
  margin: 13px 0px 50px 0px;
  max-width: 190px;
  font-size: 28px;
}
.plan-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 250px 42px 70px 280px;
  gap: 20px;
}
.plan-grid-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid;
  border-color: rgba(43, 53, 65, 0.2);
  padding: 23px 22px 0px 30px;
}
.plan-item-box {
  display: flex;
  max-width: 300px;
  max-height: 500px;
  flex-direction: column;
  gap: 25px;
  justify-content: end;
}
.plan-item-title {
  font-weight: 700;
  margin-bottom: 10px;
}
.plan-item-text {
  overflow: hidden;
  max-height: 0;
  transition: 0.3s linear;
}
.plan-item-text-visible {
  overflow: visible;
}
p.plan-item-text {
  margin: 0;
}
.plan-grid-item:hover {
  box-shadow: 0px 13px 30px rgba(186, 180, 69, 0.2);
  border: none;
  background-color: #f3f3f3;
}
.plan-grid-item:hover .plan-item-text {
  max-height: 400px;
  margin-bottom: 45px;
}
.plan-date {
  text-align: right;
  margin-right: 20px;
  margin: 0;
}
.plan-grid-item:nth-child(1) {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}
.plan-grid-item:nth-child(2) {
  grid-column: 2 / 3;
  grid-row: 1 / 4;
}
.plan-grid-item:nth-child(3) {
  grid-column: 3 / 4;
  grid-row: 1 / 3;
}
.plan-grid-item:nth-child(4) {
  grid-column: 1 / 2;
  grid-row: 2 / 5;
  background: linear-gradient(
    180deg,
    rgba(251, 241, 56, 0.7) 0%,
    rgba(253, 249, 182, 0.45) 100%
  );
  box-shadow: 0px 13px 30px rgba(186, 180, 69, 0.2);
  border: none;
}
.plan-grid-item:nth-child(5) {
  grid-column: 2 / 3;
  grid-row: 4 / 5;
}
.plan-grid-item:nth-child(6) {
  grid-column: 3 / 4;
  grid-row: 3 / 5;
}
.mail {
  background-color: #f3f3f3;
  margin-bottom: 145px;
}
.mail-box {
  max-width: 600px;
  margin: 0 auto;
  padding: 85px 0px;
}
.mail-form {
  display: flex;
  gap: 20px;
  max-width: 100%;
  gap: 20px;
}
.mail-input {
  display: block;
  border: none;
  padding: 22px 160px 22px 20px;
}
.mail-input::placeholder {
  color: rgba(43, 53, 65, 0.3);
}
.mail-input:focus {
  outline: none;
}
.notice {
  display: none;
}
.notice:focus {
  outline: none;
}
.notice:disabled {
  border: 1px solid #f3f3f3;
  background: #f3f3f3;
}
.mail-btn {
  font-weight: 700;
  font-size: 16px;
  color: #2b3541;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.03em;
  background-color: #fbf138;
  border: none;
  box-shadow: 0px 13px 24px rgba(251, 241, 56, 0.3);
  cursor: pointer;
  padding: 23px 45px;
  transition: 0.3s;
}
.mail-btn:hover {
  color: #fbf138;
  background-color: #2b3541;
  box-shadow: 0px 13px 30px rgba(186, 180, 69, 0.2);
}
.agreement {
  margin-top: 10px;
}
label,
.mail-data {
  font-size: 11px;
  color: rgba(43, 53, 65, 0.5);
  margin-top: 17px;
}
.mail-data:hover {
  color: #2b3541;
}
.mail-title {
  position: relative;
  z-index: 0;
  margin-top: 0;
  margin-bottom: 40px;
  margin-left: 6px;
}
.mail-title::before {
  position: absolute;
  content: "";
  background: #fbf138;
  width: 53px;
  height: 53px;
  border-radius: 100%;
  box-shadow: 0px 13px 24px rgba(251, 241, 56, 0.3);
  z-index: -1;
  left: -35px;
  top: -20px;
}
.checkbox:checked,
.checkbox:not(:checked) {
  position: absolute;
  left: -9999px;
}
.checkbox:checked + label,
.checkbox:not(:checked) + label {
  position: relative;
  padding-left: 22px;
  cursor: pointer;
}
/* Стили для псевдоэлемента before с фоном и обводкой, когда пункт активен */
.checkbox:checked + label::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  left: 0;
  top: calc(50% - 10px);
  background-color: #2b3541;
  border-radius: 2px;
  border: 2px solid #2b3541;
}
/* Стили для псевдоэлемента after с изображением, когда пункт активен */
.checkbox:checked + label::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  transition: all 0.2s ease;
  opacity: 1;
  left: 4px;
  top: calc(50% - 6px);
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/2/27/White_check.svg/2048px-White_check.svg.png);
}
/* Стили для псевдоэлемента before с фоном и обводкой, когда пункт НЕ активен */
.checkbox:not(:checked) + label::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  left: -2px;
  top: calc(50% - 10px);
  background-color: transparent;
  border-radius: 2px;
  border: 2px solid #2b3541;
}
/* Стили для псевдоэлемента after с изображением, когда пункт НЕ активен */
.checkbox:not(:checked) + label::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  transition: all 0.2s ease;
  opacity: 0;
  left: 4px;
  top: calc(50% - 6px);
  background-position: 0 -12px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/2/27/White_check.svg/2048px-White_check.svg.png);
}
.radio:checked + label::before {
  border-radius: 100%;
}
.about {
  margin-bottom: 188px;
  padding-top: 15px;
}
.about-box {
  max-width: 100%;
  max-height: 410px;
  display: flex;
  justify-content: space-between;
}
.about-info {
  width: 550px;
  height: 330px;
}
.about-title {
  margin-top: 4px;
  margin-bottom: 0;
}
.about-text {
  display: block;
  width: 485px;
  height: 110px;
  line-height: 150%;
  margin-bottom: 35px;
}
.about-box-gradient {
  background: linear-gradient(
    180deg,
    rgba(251, 241, 56, 0.3) 0%,
    rgba(253, 249, 182, 0) 100%
  );
  width: 580px;
  height: 335px;
  transition: 0.2s;
}
.about-img {
  display: block;
  background-image: url(../img/about.png);
  width: 580px;
  height: 335px;
  background-repeat: no-repeat;
  background-size: cover;
}
.about-favor {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 45px;
  margin-top: 63px;
  flex-wrap: wrap;
  height: 100%;
}
.favor-item {
  width: 20%;
  height: 97px;
}
.favor-item:nth-child(2) {
  width: 28%;
}
.favor-item:nth-child(4) {
  width: 20%px;
}
.favor-title {
  font-weight: 700;
  line-height: 125%;
  margin-bottom: 20px;
}
.favor-text {
  line-height: 150%;
}
.footer {
  background-color: #f3f3f3;
  height: 150px;
}
.footer-box {
  display: flex;
  justify-content: space-between;
  background-color: #f3f3f3;
  align-items: flex-end;
  margin: 0;
  height: 75px;
}
.footer-menu {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  gap: 74px;
}
.footer-logo {
  display: block;
  background-image: url(../img/logo.svg);
  background-position: center;
  width: 97px;
  height: 30px;
  background-repeat: no-repeat;
  background-size: cover;
}
.footer-nav {
  list-style-type: none;
  display: flex;
  gap: 90px;
  padding-left: 0;
  color: #2b3541;
  justify-content: space-between;
  padding-top: 15px;
  align-items: flex-end;
  padding-top: 0;
}
ul.footer-nav {
  margin: 0;
}
.footer-nav a {
  font-size: 14px;
  text-decoration: none;
}
.footer-nav a.active::after {
  content: "";
  width: 100%;
  display: block;
  border-bottom: 1px solid transparent;
  padding-top: 5px;
}
.footer-nav a.active:hover {
  border-bottom: 1px solid rgba(43, 53, 65, 0.5);
  padding-bottom: 5px;
}
.footer-email-address {
  font-size: 16px;
  font-weight: 700;
  z-index: 0;
  position: relative;
  left: 78px;
  top: -3px;
}
.footer-email-address::before {
  position: absolute;
  content: "";
  background: #fbf138;
  width: 25px;
  height: 25px;
  border-radius: 100%;
  box-shadow: 0px 13px 24px rgba(251, 241, 56, 0.3);
  z-index: -1;
  left: -20px;
  top: -15px;
}
.footer-links {
  display: flex;
  gap: 20px;
  align-items: center;
}
.footer-insta-icon,
.footer-fb-icon {
  width: 27px;
  height: 27px;
}
.footer-insta-icon:hover {
  transform: scale(1.2);
  transition: 0.5s;
}
.footer-fb-icon:hover {
  transform: scale(1.2);
  transition: 0.5s;
}
.footer-rights,
.footer-source-link,
.footer-source {
  font-size: 14px;
  color: rgba(43, 53, 65, 0.5);
}
.footer-source-link {
  text-decoration: underline;
}
.footer-source-link:hover {
  color: #2b3541;
}
.footer-info {
  display: flex;
  justify-content: space-between;
  margin-top: 22px;
}
/* Modal */

.burger {
  width: 34px;
  height: 22px;
  background-color: transparent;
  background-image: url(../img/burger.svg);
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  cursor: pointer;
}
#modal {
  max-width: 330px;
  max-height: 360px;
  background-color: #f3f3f3;
  text-align: left;
  position: absolute;
  top: -400px;
  left: 0;
  right: 0;
  margin: 20px auto 0;
  transition: 0.5s;
  padding: 25px 10px;
  box-sizing: border-box;
}
#modal .header-nav {
  flex-direction: column;
  max-width: 300px;
  margin: 0;
  align-items: baseline;
  gap: 22px;
  padding-top: 50px;
}
#modal .header-nav li:hover {
  margin-top: 0px;
}
.burger-close {
  width: 22px;
  height: 22px;
  background-color: transparent;
  background-image: url(../img/close.svg);
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 25px;
  right: 10px;
}
.header-burger-links {
  display: flex;
  gap: 20px;
  align-items: center;
  padding-left: 220px;
}
.burger-insta-icon,
.burger-fb-icon {
  width: 26px;
  height: 26px;
}
.burger-insta-icon:hover {
  transform: scale(1.2);
  transition: 0.5s;
}
.burger-fb-icon:hover {
  transform: scale(1.2);
  transition: 0.5s;
}
.popup {
  display: none;
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  background-color: rgba(43, 53, 65, 0.4);
}
.popup.active {
  display: block;
}
.pop-up-container {
  display: flex;
  width: 100%;
  height: 100%;
}
.popup-body {
  position: absolute;
  top: 15%;
  left: 35%;
  margin: auto;
  width: 600px;
  height: 577px;
  background-color: #f3f3f3;
  text-align: center;
}
.popup-title {
  position: relative;
  font-size: 28px;
  z-index: 0;
  margin-top: 63px;
  margin-bottom: 3px;
  margin-left: 0;
  width: 100%;
}
.popup-subtitle {
  position: relative;
  font-size: 28px;
  z-index: 0;
  margin-top: 0px;
  margin-bottom: 20px;
  margin-left: 0;
  width: 100%;
}
.popup-title::before {
  position: absolute;
  content: "";
  background: #fbf138;
  width: 53px;
  height: 53px;
  border-radius: 100%;
  box-shadow: 0px 13px 24px rgba(251, 241, 56, 0.3);
  z-index: -1;
  left: 125px;
  top: -35px;
}
.popup-text {
  margin-top: 0;
  margin-bottom: 38px;
  margin-left: 130px;
  margin-right: 130px;
  line-height: 150%;
}
.popup-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 50px;
}
.popup-mail-input {
  display: block;
  border: none;
  width: 470px;
  height: 65px;
  padding-left: 25px;
}
.tel-input {
  display: block;
  border: none;
  margin-top: 20px;
  width: 470px;
  height: 65px;
  padding-left: 25px;
}
.popup-mail-input::placeholder,
.tel-input::placeholder {
  color: rgba(43, 53, 65, 0.3);
}
.popup-form input:focus {
  outline: none;
}
.popup-btn {
  font-weight: 700;
  font-size: 16px;
  color: #2b3541;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.03em;
  background-color: #fbf138;
  border: none;
  box-shadow: 0px 13px 24px rgba(251, 241, 56, 0.3);
  cursor: pointer;
  transition: 0.3s;
  margin-top: 40px;
  width: 500px;
  height: 65px;
  padding: 0;
}
.popup-btn:hover {
  color: #fbf138;
  background-color: #2b3541;
  box-shadow: 0px 13px 30px rgba(186, 180, 69, 0.2);
}
.popup-close {
  position: absolute;
  top: 30px;
  right: 30px;
  width: 22px;
  height: 22px;
  background-image: url(../img/close.svg);
  cursor: pointer;
  background-repeat: no-repeat;
}
/* Responsive*/
@media (min-width: 766px) {
  .header-burger {
    display: none;
  }
}
@media (max-width: 1490px) {
  .banner-bg {
    right: -1%;
  }
  .banner-gradient-left {
    max-height: 795px;
  }
  .banner-gradient-right {
    max-width: 177%;
    max-height: 795px;
  }
  .banner-img {
    max-width: 117%;
    max-height: 95.5%;
    right: -45px;
  }
}
@media (max-width: 1200px) {
  nav {
    margin-left: 30px;
  }
  .banner {
    max-height: 100%;
    margin-bottom: 0px;
  }
  .banner-content {
    padding-top: 75px;
    margin-bottom: 100px;
  }
  .banner-bg {
    display: flex;
    gap: 20px;
    height: 78vw;
    max-width: 1150px;
    margin: 0;
    position: relative;
    right: 0;
  }
  .banner-gradient-left {
    flex-grow: 1;
    max-height: 93.5%;
  }
  .banner-gradient-right {
    flex-basis: 30%;
    max-height: 93.5%;
  }
  .banner-img {
    max-width: 87%;
    max-height: 87.5%;
    margin: 0 auto;
    position: absolute;
    left: 0;
    right: 0;
  }
  .btn-down {
    display: none;
  }
  .event-flex {
    gap: 15px;
  }
  .event-first,
  .event-second,
  .event-third {
    width: 32%;
  }
  .plan-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 250px 45px 70px 270px 270px;
  }
  .plan-grid-item:nth-child(3) {
    grid-column: 1 / 2;
    grid-row: 5 / 6;
  }
  .plan-grid-item:nth-child(6) {
    grid-column: 2 / 3;
    grid-row: 5 / 6;
  }
  .footer-email-address {
    left: 15px;
  }
}
@media (max-width: 1080px) {
  .footer-box {
    flex-direction: column;
    align-items: center;
  }
  .footer-menu {
    flex-direction: column;
    align-items: center;
  }
  .footer-info {
    flex-direction: column;
    align-items: center;
    align-content: center;
  }
}
@media (max-width: 980px) {
  .event-flex {
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
  }
  .event-first,
  .event-second {
    width: 49%;
    height: 60vh;
  }
  .event-third {
    width: 100%;
    height: 60vh;
  }
  .about-box {
    flex-wrap: wrap;
    flex-direction: column;
    align-items: stretch;
    height: 100%;
  }
}
@media (max-width: 834px) {
  .button {
    background-image: url(../img/add.png);
    background-repeat: no-repeat;
    background-color: #2b3541;
    border: none;
    cursor: pointer;
    position: relative;
    opacity: 1;
    bottom: -366px;
    right: 58px;
    left: 320px;
    margin: 0;
    padding: 0;
    width: 47px;
    height: 47px;
  }
  .box-gradient:hover .button {
    opacity: 1;
  }
  .type {
    margin-top: 0;
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #fbf138;
    margin-bottom: 0;
    padding: 10px 21px;
    line-height: 150%;
    margin-right: 240px;
  }
  .box-gradient:hover .type {
    opacity: 1;
  }
}
@media (max-width: 766px) {
  nav {
    display: none;
  }
  .plan {
    margin-bottom: 95px;
  }
  .mail-form {
    flex-direction: column;
  }
  .mail {
    margin-bottom: 90px;
  }
}
@media (max-width: 756px) {
  .plan-grid {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 667px) {
  .event-first,
  .event-second {
    width: 49%;
    height: 40vh;
  }
  .event-third {
    width: 100%;
    height: 40vh;
  }
  .banner-box {
    margin-left: 0;
    margin-right: 0;
  }
}
@media (max-width: 650px) {
  .banner-title {
    font-size: 26px;
  }
  .banner-info {
    font-size: 26px;
  }
  h2 {
    font-size: 26px;
  }
  h1 {
    font-size: 26px;
  }
  h3,
  p {
    font-size: 16px;
  }
  .event-name {
    font-size: 16px;
  }
}
@media (max-width: 550px) {
  .event-first,
  .event-second {
    width: 48%;
    height: 37vh;
  }
}
@media (max-width: 360px) {
  .banner-img {
    max-width: 97%;
  }
}
@media (max-width: 360px) {
  .event-first,
  .event-second {
    width: 48%;
    height: 37vh;
  }
  .event-third {
    width: 100%;
    height: 40vh;
  }
}
