body {
  font-family: "Montserrat", sans-serif;
  color: #2b3541;
}
a,
p {
  font-size: 18px;
  color: #2b3541;
  font-weight: 400;
  text-decoration: none;
}
h1 {
  font-size: 40px;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 15px 0px;
}
.header-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-basis: 57.7%;
}
.header-logo {
  display: block;
  background-image: url(../img/logo.svg);
  background-position: center;
  width: 97px;
  height: 30px;
  background-repeat: no-repeat;
  background-size: cover;
}
.header-nav {
  list-style-type: none;
  display: flex;
  gap: 54px;
  padding-left: 0;
  color: #2b3541;
  justify-content: center;
}
.header-nav li:hover {
  margin-top: -4px;
  transition: 0.4s;
}
.header-nav a::after {
  content: "";
  width: 100%;
  display: block;
  border-bottom: 1px solid transparent;
}
.header-nav a:hover {
  border-bottom: 1px solid rgba(43, 53, 65, 0.8);
  padding-bottom: 10px;
}
.header-links {
  display: flex;
  gap: 30px;
  align-items: center;
}
.insta-icon,
.fb-icon {
  width: 30px;
  height: 30px;
  outline: none;
  border: none;
  opacity: 0.8;
  transition: 0.5s;
}
.fb-icon {
  background-image: url(../img/fb_icon.svg);
}
.insta-icon {
  background-image: url(../img/insta_icon.svg);
}
.insta-icon:hover,
.fb-icon:hover {
  transform: scale(1.26);
  opacity: 1;
}
.container {
  max-width: 1142px;
  margin: 0 auto;
  position: relative;
  padding: 0 15px;
}
.banner {
  margin-bottom: 130px;
}
.banner-container {
  position: relative;
  height: 850px;
}
.banner-content {
  max-width: 635px;
  position: absolute;
  bottom: 22.5vw;
}
.banner-box {
  max-width: 635px;
  position: absolute;
  margin-left: 93px;
}
.banner-title {
  font-size: 48px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 125%;
  margin-top: 0;
  letter-spacing: 0.03em;
}
.banner-info {
  font-size: 40px;
  margin: 45px 0 0 0;
  letter-spacing: 0.02em;
}
.banner-text {
  font-size: 18px;
  max-width: 270px;
  margin: 20px 0 55px 0;
  line-height: 150%;
}
.banner-btn {
  font-weight: 700;
  font-size: 16px;
  color: #2b3541;
  padding: 22px 30px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.03em;
  background-color: #fbf138;
  border: none;
  box-shadow: 0px 13px 24px rgba(251, 241, 56, 0.3);
  transition: 0.3s;
  cursor: pointer;
}
.banner-btn:hover {
  color: #fbf138;
  background-color: #2b3541;
  box-shadow: 0px 13px 30px rgba(186, 180, 69, 0.2);
}
.banner-bg {
  display: flex;
  max-width: 70%;
  height: 100%;
  gap: 20px;
  position: relative;
  left: 22.5vw;
  z-index: -1;
}
.banner-gradient-left {
  background: linear-gradient(
    90deg,
    #fbf138 0%,
    rgba(253, 249, 182, 0.45) 145.23%
  );
  flex-basis: 60%;
  opacity: 0.2;
  height: 100%;
}
.banner-gradient-right {
  background: linear-gradient(
    90deg,
    #fdf9b6 0%,
    rgba(253, 249, 182, 0.7) 166.81%
  );
  flex-basis: 30%;
  opacity: 0.2;
  height: 100%;
}
.banner-img {
  position: absolute;
  right: -100px;
  max-width: 985px;
  height: 95.5%;
  object-fit: contain;
  bottom: 0;
  left: -94px;
}
.btn-down {
  background-image: url(../img/arrow.svg);
  position: absolute;
  background-repeat: no-repeat;
  bottom: 0;
  padding: 0 0;
  cursor: pointer;
  transition: 0.3s;
  background-size: cover;
  background-position: center center;
  width: 52px;
  height: 54.5px;
}
.event {
  margin-bottom: 160px;
}
.event-title {
  margin-bottom: 42px;
  margin-left: -2px;
  padding-top: 30px;
}
.event-flex {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  max-width: 100%;
}
.box-gradient {
  background: linear-gradient(
    180deg,
    rgba(251, 241, 56, 0.3) 0%,
    rgba(253, 249, 182, 0) 100%
  );
  position: absolute;
  width: 100%;
  height: 100%;
  transition: 0.2s;
}
.box-gradient:hover {
  background: linear-gradient(
    180deg,
    rgba(251, 241, 56, 0.6) 0%,
    rgba(253, 249, 182, 0) 100%
  );
}
.box-gradient:hover .button {
  opacity: 1;
}
.event-first {
  width: 367px;
  height: 600px;
  background-image: url(../img/event/maraphon.png);
  background-repeat: no-repeat;
  flex: 0 0 auto;
  background-size: cover;
  background-position: center;
  position: relative;
}
.event-second {
  width: 367px;
  height: 600px;
  background-image: url(../img/event/trener.png);
  background-repeat: no-repeat;
  flex: 0 0 auto;
  background-size: cover;
  background-position: center;
  position: relative;
}
.event-third {
  width: 367px;
  height: 600px;
  background-image: url(../img/event/yoga.png);
  background-repeat: no-repeat;
  flex: 0 0 auto;
  background-size: cover;
  background-position: center;
  position: relative;
}
.event-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px;
}
.date {
  font-weight: 700;
  line-height: 150%;
  margin: 0;
  opacity: 0.6;
  margin-bottom: 25px;
}
.event-name {
  font-size: 28px;
  font-weight: 700;
  line-height: 120%;
  margin: 0;
  margin-bottom: 38px;
}
.button {
  opacity: 0;
  margin-left: 30px;
  margin-right: 116px;
  padding: 22px 40px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.03em;
  background-color: #2b3541;
  border: none;
  transition: 0.3s;
  cursor: pointer;
  position: absolute;
  outline: none;
  font-weight: 700;
  font-size: 16px;
  color: #fbf138;
}
.button-plus {
  display: none;
}
.type {
  background-color: #fbf138;
  color: #2b3541;
  text-align: center;
  font-size: 18px;
  line-height: 150%;
  padding: 10px 20px;
  position: absolute;
  right: 0;
  bottom: 0;
}
.box-gradient:hover .type {
  opacity: 0;
}
.plan {
  margin-bottom: 160px;
}
.plan-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 37px;
}
.plan-title {
  max-width: 260px;
  line-height: 125%;
}
h1.plan-title {
  margin: 0;
}
.plan-item-title {
  max-width: 300px;
  margin: 0;
  line-height: 125%;
  margin-top: 15px;
  font-weight: 700;
}
.plan-period {
  margin: 13px 0px 50px 0px;
  max-width: 190px;
  font-size: 28px;
  text-align: right;
}
.plan-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 250px 42px 70px 280px;
  gap: 20px;
  overflow: hidden;
}
.plan-grid-item:nth-child(1) {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}
.plan-grid-active-item:nth-child(2) {
  grid-column: 1 / 2;
  grid-row: 2 / 5;
}
.plan-grid-item:nth-child(3) {
  grid-column: 2 / 3;
  grid-row: 1 / 4;
}
.plan-grid-item:nth-child(4) {
  grid-column: 2 / 3;
  grid-row: 4 / 5;
}
.plan-grid-item:nth-child(5) {
  grid-column: 3 / 4;
  grid-row: 1 / 3;
}
.plan-grid-item:nth-child(6) {
  grid-column: 3 / 4;
  grid-row: 3 / 5;
}
.plan-grid-item {
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(43, 53, 65, 0.2);
  padding: 20px 30px;
  overflow: hidden;
  position: relative;
  align-content: space-between;
}
.plan-date {
  text-align: right;
  margin-right: 20px;
  margin: 0;
}
.plan-item-box {
  display: flex;
  max-width: 300px;
  max-height: 500px;
  flex-direction: column;
  gap: 20px;
  align-content: space-between;
  overflow: hidden;
  position: absolute;
  transition: 0.2s linear;
  bottom: -50px;
}
.plan-grid-item:nth-child(5) .plan-item-box {
  bottom: -75px;
}
.plan-grid-item:hover {
  border: 1px solid rgba(43, 53, 65, 1);
  transition: 0.8s linear;
}
p.plan-item-text {
  margin: 0;
}
.plan-item-text {
  overflow: hidden;
  line-height: 150%;
  visibility: hidden;
  opacity: 0;
}
.plan-grid-item:hover .plan-item-text {
  max-height: 100%;
  margin-bottom: 15px;
  visibility: visible;
  opacity: 1;
}
.plan-grid-item:hover .plan-item-box {
  bottom: 0;
}
.plan-grid-active-item {
  background: linear-gradient(
    180deg,
    rgba(251, 241, 56, 0.7) 0%,
    rgba(253, 249, 182, 0.45) 100%
  );
  box-shadow: 0px 13px 30px rgba(186, 180, 69, 0.2);
  border: none;
  padding: 23px 22px 0px 30px;
}
.plan-grid-active-item .plan-item-text {
  max-height: 400px;
  margin-bottom: 15px;
  visibility: visible;
  opacity: 1;
}
.plan-grid-active-item .plan-item-box {
  position: absolute;
  bottom: 0px;
  transition: 0.2s linear;
}
.plan-grid-active-item {
  position: relative;
}
.mail {
  background-color: #f3f3f3;
  margin-bottom: 145px;
}
.mail-box {
  max-width: 600px;
  margin: 0 auto;
  padding: 85px 0px;
}
.mail-form {
  display: flex;
  gap: 20px;
  max-width: 100%;
  gap: 20px;
}
.mail-input {
  display: block;
  border: none;
  padding: 22px 160px 22px 20px;
}
.mail-input::placeholder {
  color: rgba(43, 53, 65, 0.3);
}
.mail-input:focus {
  outline: none;
  border: 1px solid #fbf138;
}
.notice {
  display: none;
}
.notice:focus {
  outline: none;
}
.notice:disabled {
  border: 1px solid #ae0303;
  background: #f3f3f3;
}
.mail-btn {
  font-weight: 700;
  font-size: 16px;
  color: #2b3541;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.03em;
  background-color: #fbf138;
  border: none;
  box-shadow: 0px 13px 24px rgba(251, 241, 56, 0.3);
  cursor: pointer;
  padding: 23px 45px;
  transition: 0.3s;
}
.mail-btn:hover {
  color: #fbf138;
  background-color: #2b3541;
  box-shadow: 0px 13px 30px rgba(186, 180, 69, 0.2);
}
.agreement {
  margin-top: 10px;
}
label,
.mail-data {
  font-size: 11px;
  color: rgba(43, 53, 65, 0.5);
  margin-top: 17px;
}
.mail-data {
  border-bottom: 1px solid rgba(43, 53, 65, 0.5);
}
.mail-data:hover {
  color: #2b3541;
  border-bottom: 1px solid #2b3541;
}
.mail-title {
  position: relative;
  z-index: 0;
  margin-top: 0;
  margin-bottom: 40px;
  margin-left: 6px;
  text-align: center;
}
.mail-title::before {
  position: absolute;
  content: "";
  background: #fbf138;
  width: 53px;
  height: 53px;
  border-radius: 100%;
  box-shadow: 0px 13px 24px rgba(251, 241, 56, 0.3);
  z-index: -1;
  left: -30px;
  top: -20px;
}
.checkbox:checked,
.checkbox:not(:checked) {
  position: absolute;
  left: -9999px;
}
.checkbox:checked + label,
.checkbox:not(:checked) + label {
  position: relative;
  padding-left: 22px;
  cursor: pointer;
}
/* Стили для псевдоэлемента before с фоном и обводкой, когда пункт активен */
.checkbox:checked + label::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  left: 0;
  top: calc(50% - 10px);
  background-color: #2b3541;
  border: 2px solid #2b3541;
}
/* Стили для псевдоэлемента after с изображением, когда пункт активен */
.checkbox:checked + label::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  transition: all 0.2s ease;
  opacity: 1;
  left: 4px;
  top: calc(50% - 6px);
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/2/27/White_check.svg/2048px-White_check.svg.png);
}
/* Стили для псевдоэлемента before с фоном и обводкой, когда пункт НЕ активен */
.checkbox:not(:checked) + label::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  left: 0;
  top: calc(50% - 10px);
  background-color: transparent;
  border-radius: 2px;
  border: 2px solid #2b3541;
}
/* Стили для псевдоэлемента after с изображением, когда пункт НЕ активен */
.checkbox:not(:checked) + label::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  transition: all 0.2s ease;
  opacity: 0;
  left: 4px;
  top: calc(50% - 6px);
  background-position: 0 -12px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/2/27/White_check.svg/2048px-White_check.svg.png);
}
.radio:checked + label::before {
  border-radius: 100%;
}
.about {
  margin-bottom: 110px;
  padding-top: 15px;
}
.about-box {
  max-width: 100%;
  max-height: 100%;
  display: grid;
  justify-content: space-between;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 215px 120px auto;
  align-items: start;
  gap: 20px;
}
.about-info {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  height: 100%;
  width: 100%;
  margin-bottom: 45px;
}
.about-title {
  margin-top: 4px;
  margin-bottom: 20px;
}
p.about-text {
  margin: 0;
}
.about-text {
  display: block;
  width: 89%;
  height: 110px;
  line-height: 150%;
}
.about-img {
  grid-column: 2 / 3;
  grid-row: 1 / 3;
  display: block;
  background-image: url(../img/about.png);
  width: 100%;
  height: 350px;
  background-repeat: no-repeat;
  background-size: contain;
}
.about-box-gradient {
  background: linear-gradient(
    180deg,
    rgba(251, 241, 56, 0.3) 0%,
    rgba(253, 249, 182, 0) 100%
  );
  width: 100%;
  height: 53%;
  transition: 0.2s;
}
.sign-up-btn {
  display: block;
  font-weight: 700;
  font-size: 16px;
  color: #2b3541;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.03em;
  background-color: #fbf138;
  border: none;
  box-shadow: 0px 13px 24px rgba(251, 241, 56, 0.3);
  cursor: pointer;
  padding: 23px 55px;
  transition: 0.3s;
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  width: 120px;
  height: 15px;
  align-content: start;
}
.sign-up-btn:hover {
  color: #fbf138;
  background-color: #2b3541;
  box-shadow: 0px 13px 30px rgba(186, 180, 69, 0.2);
}
.about-favor {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 45px;
  margin-top: 63px;
  margin-bottom: 80px;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
  grid-column: 1 / 3;
  grid-row: 3 / 4;
}
.favor-item {
  width: 20%;
  height: 97px;
}
.favor-item:nth-child(2) {
  width: 28%;
}
.favor-item:nth-child(4) {
  width: 20%;
}
.favor-title {
  font-weight: 700;
  line-height: 125%;
  margin-bottom: 20px;
}
.favor-text {
  line-height: 150%;
  color: rgba(43, 53, 65, 0.6);
}
.footer {
  background-color: #f3f3f3;
  height: 100%;
}
.footer-content {
  padding: 45px 0 20px 0px;
}
.footer-box {
  display: flex;
  justify-content: space-between;
  background-color: #f3f3f3;
  align-items: flex-end;
  margin: 0;
  height: 100%;
  width: 100%;
}
.footer-menu {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  gap: 74px;
}
.footer-logo {
  display: block;
  background-image: url(../img/logo.svg);
  background-position: center;
  width: 97px;
  height: 30px;
  background-repeat: no-repeat;
  background-size: cover;
}
.footer-nav {
  list-style-type: none;
  display: flex;
  gap: 90px;
  padding-left: 0;
  color: #2b3541;
  justify-content: space-between;
  padding-top: 15px;
  align-items: flex-end;
  padding-top: 0;
}
ul.footer-nav {
  margin: 0;
}
.footer-nav a {
  font-size: 14px;
  text-decoration: none;
}
.footer-nav a::after {
  content: "";
  width: 100%;
  display: block;
  border-bottom: 1px solid transparent;
  padding-top: 5px;
}
.footer-nav a:hover {
  border-bottom: 1px solid rgba(43, 53, 65, 0.5);
  padding-bottom: 5px;
}
.footer-flex {
  display: flex;
  gap: 65px;
  justify-content: space-between;
  align-items: center;
}
.footer-email-address a {
  font-size: 16px;
  font-weight: 700;
  z-index: 0;
  position: relative;
}
.footer-email-address a::before {
  position: absolute;
  content: "";
  background: #fbf138;
  width: 25px;
  height: 25px;
  border-radius: 100%;
  box-shadow: 0px 13px 24px rgba(251, 241, 56, 0.3);
  z-index: -1;
  left: -20px;
  top: -15px;
}
.footer-links {
  display: flex;
  gap: 30px;
  align-items: center;
  outline: none;
  border: none;
}
.footer-insta-icon,
.footer-fb-icon {
  width: 27px;
  height: 27px;
  transition: 0.5s;
}
.footer-insta-icon:hover {
  transform: scale(1.2);
}
.footer-fb-icon:hover {
  transform: scale(1.2);
  transition: 0.5s;
}
.footer-info {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}
.footer-rights,
.footer-source-link,
.footer-source {
  font-size: 14px;
  color: rgba(43, 53, 65, 0.5);
}
.footer-source-link {
  text-decoration: underline;
}
.footer-source-link:hover {
  color: #2b3541;
}
/* Modal */

.burger {
  width: 34px;
  height: 22px;
  background-color: transparent;
  background-image: url(../img/burger.svg);
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  cursor: pointer;
}
#modal {
  width: 100%;
  height: 360px;
  background-color: #f3f3f3;
  text-align: left;
  position: absolute;
  top: -400px;
  left: 0;
  right: 0;
  margin: 0 auto 0;
  transition: 0.5s;
  padding: 25px 15px;
  box-sizing: border-box;
}
#modal .header-nav {
  flex-direction: column;
  width: 100%;
  margin: 0;
  align-items: baseline;
  gap: 22px;
  padding-top: 50px;
}
#modal ul.header-nav {
  margin-right: 0;
}
#modal .header-nav li:nth-child(1),
#modal .header-nav li:nth-child(2) {
  padding-bottom: 30px;
  border-bottom: 1px solid rgba(43, 53, 65, 0.2);
  width: 100%;
}
#modal .header-nav li:hover {
  margin-top: 0;
}
#modal .header-nav a::after {
  display: none;
}
#modal .header-nav a:hover {
  border-bottom: none;
}
.burger-close {
  width: 22px;
  height: 22px;
  background-color: transparent;
  background-image: url(../img/close.svg);
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 25px;
  right: 10px;
  outline: none;
  border: none;
}
.header-burger-links {
  display: flex;
  gap: 20px;
  outline: none;
  border: none;
  position: absolute;
  right: 13px;
}
.burger-insta-icon,
.burger-fb-icon {
  width: 26px;
  height: 26px;
}
.burger-insta-icon:hover {
  transform: scale(1.2);
  transition: 0.5s;
}
.burger-fb-icon:hover {
  transform: scale(1.2);
  transition: 0.5s;
}
/*popup*/
.popup .overlay {
  position: fixed;
  display: none;
  left: 0;
  top: 0;
  background-color: rgba(43, 53, 65, 0.4);
  width: 100vw;
  height: 100vh;
  z-index: 1;
}
.popup .content {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  max-width: 600px;
  height: 575px;
  background-color: #f3f3f3;
  text-align: center;
  padding: 0 45px;
  top: 50%;
  left: 50%;
  z-index: 2;
  transform: translate(-50%, -50%) scale(0);
  box-sizing: border-box;
}
.popup.active .overlay {
  display: block;
}
.popup.active .content {
  transition: all 300ms ease-in-out;
  transform: translate(-50%, -50%) scale(1);
}
.popup-title {
  position: relative;
  font-size: 28px;
  z-index: 0;
  margin-bottom: 3px;
  margin-top: 0;
  margin-left: 0;
  width: 100%;
}
.popup-subtitle {
  font-size: 28px;
  z-index: 0;
  margin-top: 0px;
  margin-bottom: 20px;
  margin-left: 0;
  width: 100%;
}
.popup-title::before {
  position: absolute;
  content: "";
  background: #fbf138;
  width: 53px;
  height: 53px;
  border-radius: 100%;
  box-shadow: 0px 13px 24px rgba(251, 241, 56, 0.3);
  z-index: -1;
  left: 80px;
  top: -35px;
}
.popup-text {
  margin-top: 0;
  margin-bottom: 38px;
  margin-left: 40px;
  margin-right: 40px;
  line-height: 150%;
}
.popup-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.popup-mail-input {
  display: block;
  border: none;
  max-width: 470px;
  height: 65px;
  padding-left: 25px;
}
.tel-input {
  display: block;
  border: none;
  margin-top: 20px;
  max-width: 470px;
  height: 65px;
  padding-left: 25px;
}
.popup-mail-input::placeholder,
.tel-input::placeholder {
  color: rgba(43, 53, 65, 0.3);
}
.popup-form input:focus {
  outline: none;
  border: 1px solid #fbf138;
}
.popup-btn {
  font-weight: 700;
  font-size: 16px;
  color: #2b3541;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.03em;
  background-color: #fbf138;
  border: none;
  box-shadow: 0px 13px 24px rgba(251, 241, 56, 0.3);
  cursor: pointer;
  transition: 0.3s;
  margin-top: 40px;
  max-width: 500px;
  height: 65px;
  padding: 0;
}
.popup-btn:hover {
  color: #fbf138;
  background-color: #2b3541;
  box-shadow: 0px 13px 30px rgba(186, 180, 69, 0.2);
}
.popup-close {
  position: absolute;
  top: 30px;
  right: 30px;
  width: 22px;
  height: 22px;
  background-image: url(../img/close.svg);
  cursor: pointer;
  background-repeat: no-repeat;
}
/* Responsive*/
@media (min-width: 769px) {
  .header-burger,
  #modal {
    display: none;
  }
}
@media (max-width: 1400px) {
  .banner {
    max-height: 100%;
    margin-bottom: 215px;
  }
  .banner-content {
    margin-bottom: 75px;
  }
  .btn-down {
    bottom: -185px;
  }
}
@media (max-width: 1200px) {
  .header nav {
    margin-left: 30px;
  }
  .banner {
    margin-bottom: 60px;
  }
  .btn-down {
    bottom: 0;
  }
  .banner-bg {
    gap: 10px;
    max-width: 50%;
    height: 57vw;
    margin: 0 auto;
    right: 0;
    top: 10px;
  }
  .banner-gradient-left {
    flex-grow: 1;
    height: 100%;
    max-width: 535px;
  }
  .banner-gradient-right {
    flex-basis: 41%;
    height: 100%;
  }
  .banner-img {
    width: 100%;
    height: 68%;
    margin: 0 auto;
    position: absolute;
    left: 0;
    right: 0;
    object-fit: contain;
  }
  .banner-container {
    height: 100%;
  }
  .event-flex {
    gap: 15px;
  }
  .event-first,
  .event-second,
  .event-third {
    width: 32%;
  }
  .about-favor {
    flex-wrap: nowrap;
  }
  .footer-email-address {
    left: 15px;
  }
  .popup-title::before {
    left: 80px;
  }
}
@media (max-width: 1115px) {
  .about-favor {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  .favor-item,
  .favor-item:nth-child(4) {
    width: 100%;
  }
  .favor-item:nth-child(2) {
    width: 88%;
  }
}
@media (max-width: 1080px) {
  .about-box {
    flex-wrap: wrap;
    align-items: stretch;
    height: 100%;
  }
  .plan-grid {
    grid-template-rows: 300px 0px 70px 280px;
  }
  .popup-title::before {
    left: 25px;
    top: -35px;
  }
  .footer-content {
    padding: 0;
  }
  .footer-box {
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
  }
  .footer-menu {
    flex-direction: column;
    align-items: center;
    margin: 40px auto 15px auto;
    gap: 40px;
  }
  .footer-info {
    flex-direction: column;
    align-items: center;
    align-content: center;
    margin-top: 35px;
  }
  .footer-flex {
    gap: 100px;
  }
  nav {
    margin-left: 0;
  }
  .popup-title::before {
    left: 45px;
  }
}
@media (max-width: 980px) {
  .btn-down {
    height: 39px;
    width: 37px;
  }
  .banner-title {
    font-size: 35px;
  }
  .banner-box {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }
  .banner-text {
    font-size: 16px;
  }
  .banner-info,
  h2 {
    font-size: 26px;
  }
  .plan-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 370px 300px 270px;
  }
  .plan-grid-item:nth-child(1) {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
  .plan-grid-active-item:nth-child(2) {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }
  .plan-grid-item:nth-child(3) {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }
  .plan-grid-item:nth-child(4) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }
  .plan-grid-item:nth-child(5) {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }
  .plan-grid-item:nth-child(6) {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
  }
  .plan-item-box {
    max-width: 300px;
  }
}
@media (max-width: 834px) {
  .banner-content {
    bottom: 20vw;
  }
  .event-flex {
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
  }
  .event-name {
    font-size: 22px;
  }
  .event-first,
  .event-second {
    width: 49%;
    height: 50vw;
  }
  .event-third {
    width: 100%;
    background-image: url(../img/event/yoga_mob1.png);
    height: 50vw;
  }
  .button {
    display: none;
  }
  .button-plus {
    display: block;
    background-image: url(../img/add.png);
    width: 30px;
    height: 30px;
    border: none;
    position: absolute;
    background-size: cover;
    right: 0;
    bottom: 0;
    cursor: pointer;
  }
  .type {
    font-size: 14px;
    left: 0;
    right: auto;
    padding: 5px 10px;
    opacity: 1;
  }
  .box-gradient:hover .type {
    opacity: 1;
  }
  .about {
    margin-bottom: 40px;
  }
  .sign-up-btn {
    margin-top: 45px;
  }
}
@media (max-width: 768px) {
  h1 {
    font-size: 26px;
  }
  p.plan-item-text {
    font-size: 12px;
  }
  .plan-period {
    font-size: 26px;
  }
  .banner-content {
    bottom: 25vw;
  }
  .banner-bg {
    gap: 10px;
    max-width: 340px;
    height: 57vw;
    position: relative;
    margin: 0 auto;
    right: 0;
    top: 10px;
  }
  .banner-gradient-left {
    flex-grow: 1;
    height: 100%;
    max-width: 535px;
  }
  .banner-gradient-right {
    flex-basis: 30%;
    height: 100%;
  }
  .banner-img {
    width: 100%;
    height: 72%;
    margin: 0 auto;
    position: absolute;
    left: 0;
    right: 0;
    object-fit: contain;
    /*top: 65px;*/
    bottom: 0;
  }
  .header-item {
    flex-basis: 0;
  }
  .header-logo {
    width: 78px;
    height: 24px;
  }
  .header-links {
    gap: 20px;
  }
  .fb-icon {
    background-image: url(../img/FB26.svg);
    width: 26px;
    height: 26px;
  }
  .insta-icon {
    background-image: url(../img/IN26.svg);
    width: 26px;
    height: 26px;
  }
  .header nav {
    display: none;
  }
  .banner-title {
    font-size: 26px;
  }
  .plan {
    margin-bottom: 95px;
  }
  .plan-grid {
    grid-template-rows: 345px 220px 220px;
  }
  .plan-item-box {
    bottom: -25px;
  }
  .plan-grid-item:nth-child(5) .plan-item-box {
    bottom: -45px;
  }
  .plan-grid-item:nth-child(5):hover .plan-item-box {
    bottom: 0px;
  }
  .mail-form {
    flex-direction: column;
  }
  .mail {
    margin-bottom: 90px;
  }
  .header {
    margin: 25px 0px;
  }
  .mail-box {
    max-width: 360px;
  }
  .mail-title::before {
    width: 31px;
    height: 31px;
    left: 41px;
    top: -11px;
  }
}
@media (max-width: 756px) {
  p.plan-item-title,
  p.plan-date {
    font-size: 16px;
  } /*
  .plan-grid-item:nth-child(5) .plan-item-box {
    bottom: -55px;
  }*/
}
@media (max-width: 683px) {
  .plan-item-box
  /*,.plan-grid-item:nth-child(5) .plan-item-box*/ {
    bottom: -45px;
  }
}
@media (max-width: 670px) {
  .about-text {
    margin: 0;
  }
  .about-box {
    display: flex;
    flex-direction: column;
  }
  .about-info {
    width: 100%;
  }
  .about-img {
    background-size: cover;
    order: 4;
    height: 54vw;
  }
  .about-box-gradient {
    height: 100%;
  }
  .about-favor {
    margin-top: 0px;
    margin-bottom: 50px;
  }
  .sign-up-btn {
    order: 3;
    width: 100%;
    margin-bottom: 20px;
    margin-top: 0px;
    display: block; /*
    width: 100%;*/
    text-align: center;
    padding-left: 0;
    padding-right: 0;
  }
}
@media (max-width: 667px) {
  .banner {
    margin-bottom: 160px;
  }
  .btn-down {
    display: none;
  }
  .banner-container,
  .banner-content {
    position: relative;
    bottom: 0;
    margin-top: 65px;
  }
  .banner-bg {
    max-width: 100%;
    left: 0;
    top: 160px;
    height: 70vw;
  }
  .banner-img {
    height: 76%;
  }
  .banner-btn {
    display: block; /*
    width: 100%;*/
    text-align: center;
    padding-left: 0;
    padding-right: 0;
  }
  .event {
    margin-bottom: 75px;
  }
  .event-name {
    font-size: 16px;
  }
  .popup-text {
    margin-left: 0;
    margin-right: 0;
  }
  .popup-title,
  .popup-subtitle {
    font-size: 20px;
  }
  .popup-text {
    font-size: 16px;
  }
  .popup-title::before {
    width: 31px;
    height: 31px;
    left: 25px;
    top: -18px;
  }
  .popup .content {
    padding: 0 15px;
  }
}
@media (min-width: 650px) {
  .plan-img-mob {
    display: none;
  }
}
@media (max-width: 650px) {
  .banner-info,
  h2 {
    font-size: 26px;
  }
  h3,
  p {
    font-size: 16px;
  }
  .plan-period {
    margin: 0px 0px 50px 0px;
  }
  .plan-img {
    display: none;
  }
  .plan-grid {
    display: flex;
    flex-direction: column;
    gap: 15px;
    overflow: hidden;
  }
  .plan-grid-item,
  .plan-grid-active-item {
    padding: 25px 22px 25px 18px;
  }
  .plan-item-box {
    display: grid;
    position: relative;
    max-width: 100%;
    height: 100%;
    grid-template-columns: 12% 80%;
    grid-template-rows: 25% 55%;
    bottom: -20px;
  }
  .plan-grid-item:nth-child(5) .plan-item-box {
    bottom: -30px;
  }
  .plan-grid-item:nth-child(5):hover .plan-item-box {
    bottom: 0px;
  }
  .plan-grid-active-item .plan-item-box {
    display: grid;
    position: relative;
    max-width: 100%;
    height: 100%;
    grid-template-columns: 12% 80%;
    grid-template-rows: 20% 55%;
  }
  .plan-grid-active-item .plan-item-box .plan-img-mob,
  .plan-item-box .plan-img-mob {
    grid-row: 1 / 3;
  }
  .plan-grid-active-item .plan-item-box .plan-item-title,
  .plan-item-box .plan-item-title {
    grid-row: 1 / 2;
    margin-top: 10px;
  }
  .plan-grid-active-item .plan-item-box .plan-item-text,
  .plan-item-box .plan-item-text {
    grid-row: 2 / 3;
    margin-bottom: -15px;
  }
  .plan-grid-item:hover .plan-item-text {
    margin-bottom: 0;
  }
  .about-favor {
    grid-template-columns: 1fr;
    gap: 0;
  }
  .about-img {
    height: 50vw;
  }
}
@media (max-width: 550px) {
  .event-first,
  .event-second {
    width: 48%;
  }
  .footer-nav a,
  .footer-email-address a {
    font-size: 12px;
  }
  .footer-rights,
  .footer-source,
  .footer-source-link {
    font-size: 10px;
  }
}
@media (max-width: 480px) {
  .banner-title,
  .event-title,
  .plan-title,
  .plan-period {
    font-size: 20px;
  }
  .event-first,
  .event-second {
    height: 75vw;
  }
  .event-third {
    height: 83vw;
    background-image: url(../img/event/yoga_mob2.png);
  }
  .plan-item-box,
  .plan-grid-active-item .plan-item-box {
    grid-template-columns: 15% 80%;
    grid-template-rows: 24% 65%;
    gap: 10px;
  }
  .footer-nav {
    gap: 20px;
  }
}
@media (max-width: 406px) {
  .event-first .event-box,
  .event-second .event-box {
    padding: 10px 30px 0 15px;
  }
  .event-third .event-box {
    padding: 10px 135px 0px 15px;
  }
  .about-info {
    margin-bottom: 100px;
  }
  .mail-title::before {
    left: 30px;
  }
}
@media (max-width: 392px) {
  .event {
    margin-bottom: 79px;
  }
  .banner-info h1,
  h2 {
    font-size: 20px;
  }
  .banner-text {
    font-size: 15px;
  }
}
@media (max-width: 386px) {
  .plan-item-box,
  .plan-grid-active-item .plan-item-box {
    grid-template-columns: 22% 73%;
    grid-template-rows: 14% 75%;
    gap: 10px;
  }
  p.plan-item-title,
  p.plan-item-text,
  p.plan-date {
    font-size: 12px;
  }
  .plan-grid-item,
  .plan-grid-active-item {
    padding: 15px 15px 10px 10px;
  }
  .plan-item-box {
    bottom: -5px;
  }
  .plan-item-title {
    margin-top: 0;
  }
}
@media (max-width: 360px) {
  .date,
  .event-name {
    font-size: 14px;
  }
  .banner-bg {
    gap: 10px;
  }
  .banner-info,
  .plan-period,
  h1,
  h2 {
    font-size: 20px;
  }
  .plan-period {
    margin: 0;
  }
  .mail {
    margin-bottom: 20px;
  }
  .mail-title::before {
    left: -14px;
    top: -17px;
  }
  .date {
    margin: 0;
    opacity: 0.6;
    margin-bottom: 7px;
  }
  .event-name {
    margin: 0;
    margin-bottom: 42px;
  }
}
@media (max-width: 352px) {
  .mail-title::before {
    left: 35px;
    top: -15px;
  }
  label,
  .mail-data {
    font-size: 10px;
  }
}
@media (max-width: 320px) {
  .burger {
    margin-right: 20px;
  }
  .event-first .event-box,
  .event-second .event-box {
    padding: 12px 0 0 10px;
  }
  .event-third .event-box {
    padding: 12px 90px 0 10px;
  }
  .mail-title::before {
    left: 20px;
  }
  .footer-flex {
    gap: 75px;
  }
  .footer-links {
    gap: 20px;
  }
  .popup-title,
  .popup-subtitle {
    font-size: 18px;
  }
}
