body {
  font-family: "Montserrat", sans-serif;
  color: #2b3541;
}
a,
p {
  font-size: 18px;
  color: #2b3541;
  font-weight: 400;
  text-decoration: none;
}
h1 {
  font-size: 40px;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 5px 0px;
}
.header-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-basis: 57.7%;
}
.header-logo {
  display: block;
  background-image: url(../img/logo.svg);
  background-position: center;
  width: 97px;
  height: 30px;
  background-repeat: no-repeat;
  background-size: cover;
}
.header-nav {
  list-style-type: none;
  display: flex;
  gap: 54px;
  padding-left: 0;
  color: #2b3541;
  justify-content: center;
  padding-top: 15px;
}
.header-nav li:hover {
  margin-top: -4px;
  transition: 0.4s;
}
.header-nav a::after {
  content: "";
  width: 100%;
  display: block;
  border-bottom: 1px solid transparent;
}
.header-nav a:hover {
  border-bottom: 1px solid rgba(43, 53, 65, 0.8);
  padding-bottom: 10px;
}
.header-links {
  display: flex;
  gap: 30px;
  align-items: center;
}
.insta-icon,
.fb-icon {
  width: 30px;
  height: 30px;
  outline: none;
  border: none;
  opacity: 0.8;
  transition: 0.5s;
}
.insta-icon:hover,
.fb-icon:hover {
  transform: scale(1.26);
  opacity: 1;
}
.container {
  max-width: 1142px;
  margin: 0 auto;
  position: relative;
  padding: 0 15px;
}
.banner {
  max-height: 850px;
  margin-bottom: 398px;
}
.banner-content {
  max-width: 637px;
  max-height: 850px;
  padding: 232px 0 0;
}
.banner-box {
  max-width: 100%;
  margin-left: 92px;
}
.banner-title {
  font-size: 48px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 125%;
  margin-top: 0;
  letter-spacing: 0.03em;
}
.banner-info {
  font-size: 40px;
  margin: 45px 0 0 0;
  letter-spacing: 0.02em;
}
.banner-text {
  font-size: 18px;
  max-width: 270px;
  margin: 20px 0 55px 0;
  line-height: 150%;
}
.banner-btn {
  font-weight: 700;
  font-size: 16px;
  color: #2b3541;
  padding: 22px 30px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.03em;
  background-color: #fbf138;
  border: none;
  box-shadow: 0px 13px 24px rgba(251, 241, 56, 0.3);
  transition: 0.3s;
  top: 2px;
  position: relative;
  cursor: pointer;
}
.banner-btn:hover {
  color: #fbf138;
  background-color: #2b3541;
  box-shadow: 0px 13px 30px rgba(186, 180, 69, 0.2);
}
.btn-down {
  border: none;
  position: absolute;
  background-color: transparent;
  left: 15px;
  bottom: -267px;
  padding: 0 0;
  cursor: pointer;
  outline: none;
}
.banner-bg {
  display: flex;
  gap: 20px;
  position: absolute;
  top: 5px;
  z-index: -1;
  right: -60px;
}
.banner-gradient-left {
  background: linear-gradient(
    90deg,
    #fbf138 0%,
    rgba(253, 249, 182, 0.45) 145.23%
  );
  width: 535px;
  height: 850px;
  opacity: 0.2;
}
.banner-gradient-right {
  background: linear-gradient(
    90deg,
    #fdf9b6 0%,
    rgba(253, 249, 182, 0.7) 166.81%
  );
  width: 235px;
  height: 850px;
  opacity: 0.2;
}
.banner-img {
  border: none;
  position: absolute;
  top: 39px;
  right: -100px;
  width: 125%;
  height: 95.5%;
  object-fit: cover;
  background-size: contain;
}
.event {
  margin-bottom: 157px;
}
.event-title {
  margin-bottom: 42px;
  margin-left: -2px;
  padding-top: 30px;
}
.event-flex {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  max-width: 100%;
}
.box-gradient {
  background: linear-gradient(
    180deg,
    rgba(251, 241, 56, 0.3) 0%,
    rgba(253, 249, 182, 0) 100%
  );
  position: absolute;
  width: 100%;
  height: 100%;
  transition: 0.2s;
}
.box-gradient:hover {
  background: linear-gradient(
    180deg,
    rgba(251, 241, 56, 0.6) 0%,
    rgba(253, 249, 182, 0) 100%
  );
}
.box-gradient:hover .button {
  opacity: 1;
}
.event-first {
  width: 367px;
  height: 600px;
  background-image: url(../img/event/maraphon.png);
  background-repeat: no-repeat;
  flex: 0 0 auto;
  background-size: cover;
  background-position: center;
  position: relative;
}
.event-second {
  width: 367px;
  height: 600px;
  background-image: url(../img/event/trener.png);
  background-repeat: no-repeat;
  flex: 0 0 auto;
  background-size: cover;
  background-position: center;
  position: relative;
}
.event-third {
  width: 367px;
  height: 600px;
  background-image: url(../img/event/yoga.png);
  background-repeat: no-repeat;
  flex: 0 0 auto;
  background-size: cover;
  background-position: center;
  position: relative;
}
.event-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 29px 45px 0 29px;
}
.event-second .event-box {
  padding: 29px 100px 0 29px;
}
.date {
  font-weight: 700;
  line-height: 150%;
  margin: 0;
  opacity: 0.6;
  margin-bottom: 25px;
}
.event-name {
  font-size: 28px;
  font-weight: 700;
  line-height: 120%;
  margin: 0;
  margin-bottom: 38px;
}
.button {
  opacity: 0;
  margin-left: 30px;
  margin-right: 116px;
  padding: 22px 40px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.03em;
  background-color: #2b3541;
  border: none;
  transition: 0.3s;
  cursor: pointer;
  position: absolute;
  outline: none;
}
.button a {
  font-weight: 700;
  font-size: 16px;
  color: #fbf138;
}
.type {
  background-color: #fbf138;
  color: #2b3541;
  text-align: center;
  font-size: 18px;
  line-height: 150%;
  padding: 10px 20px;
  position: absolute;
  right: 0;
  bottom: 0;
}
.box-gradient:hover .type {
  opacity: 0;
}
.plan {
  margin-bottom: 160px;
  padding-top: 5px;
}
.plan-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}
.plan-title {
  max-width: 300px;
  line-height: 125%;
}
h1.plan-title {
  margin: 0;
}
.plan-item-title {
  max-width: 300px;
  margin: 0;
  line-height: 125%;
}
p.plan-item-title {
  margin: 0;
}
.plan-period {
  margin: 13px 0px 50px 0px;
  max-width: 190px;
  font-size: 28px;
  text-align: right;
}
.plan-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 250px 42px 70px 280px;
  gap: 20px;
}
.plan-grid-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid rgba(43, 53, 65, 0.2);
  padding: 18px 27px 0px 30px;
}
.plan-item-box {
  display: flex;
  max-width: 300px;
  max-height: 500px;
  flex-direction: column;
  gap: 25px;
  justify-content: end;
}
.plan-item-title {
  font-weight: 700;
  margin-bottom: 10px;
}
.plan-item-text {
  overflow: hidden;
  max-height: 0;
  transition: 0.3s linear;
  line-height: 150%;
}
p.plan-item-text {
  margin: 0;
}
.plan-grid-item:hover {
  border: 1px solid rgba(43, 53, 65, 1);
  transition: 0.8s;
}
.plan-grid-item:hover .plan-item-text {
  max-height: 400px;
  margin-bottom: 15px;
}
.plan-date {
  text-align: right;
  margin-right: 20px;
  margin: 0;
}
.plan-grid-item:nth-child(1) {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}
.plan-grid-active-item:nth-child(2) {
  grid-column: 1 / 2;
  grid-row: 2 / 5;
}
.plan-grid-item:nth-child(3) {
  grid-column: 2 / 3;
  grid-row: 1 / 4;
}
.plan-grid-item:nth-child(4) {
  grid-column: 2 / 3;
  grid-row: 4 / 5;
}
.plan-grid-item:nth-child(5) {
  grid-column: 3 / 4;
  grid-row: 1 / 3;
}
.plan-grid-item:nth-child(6) {
  grid-column: 3 / 4;
  grid-row: 3 / 5;
}
.plan-grid-active-item {
  background: linear-gradient(
    180deg,
    rgba(251, 241, 56, 0.7) 0%,
    rgba(253, 249, 182, 0.45) 100%
  );
  box-shadow: 0px 13px 30px rgba(186, 180, 69, 0.2);
  border: none;
  padding: 23px 22px 0px 30px;
}
.plan-grid-active-item .plan-item-text {
  max-height: 400px;
  margin-bottom: 15px;
}
.plan-grid-active-item .plan-item-box {
  position: absolute;
  bottom: 0;
}
.plan-grid-active-item {
  position: relative;
}
.mail {
  background-color: #f3f3f3;
  margin-bottom: 145px;
}
.mail-box {
  max-width: 600px;
  margin: 0 auto;
  padding: 85px 0px;
}
.mail-form {
  display: flex;
  gap: 20px;
  max-width: 100%;
  gap: 20px;
}
.mail-input {
  display: block;
  border: none;
  padding: 22px 160px 22px 20px;
}
.mail-input::placeholder {
  color: rgba(43, 53, 65, 0.3);
}
.mail-input:focus {
  outline: none;
  border: 1px solid #fbf138;
}
.notice {
  display: none;
}
.notice:focus {
  outline: none;
}
.notice:disabled {
  border: 1px solid #ae0303;
  background: #f3f3f3;
}
.mail-btn {
  font-weight: 700;
  font-size: 16px;
  color: #2b3541;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.03em;
  background-color: #fbf138;
  border: none;
  box-shadow: 0px 13px 24px rgba(251, 241, 56, 0.3);
  cursor: pointer;
  padding: 23px 45px;
  transition: 0.3s;
}
.mail-btn:hover {
  color: #fbf138;
  background-color: #2b3541;
  box-shadow: 0px 13px 30px rgba(186, 180, 69, 0.2);
}
.agreement {
  margin-top: 10px;
}
label,
.mail-data {
  font-size: 11px;
  color: rgba(43, 53, 65, 0.5);
  margin-top: 17px;
}
.mail-data:hover {
  color: #2b3541;
}
.mail-title {
  position: relative;
  z-index: 0;
  margin-top: 0;
  margin-bottom: 40px;
  margin-left: 6px;
  text-align: center;
}
.mail-title::before {
  position: absolute;
  content: "";
  background: #fbf138;
  width: 53px;
  height: 53px;
  border-radius: 100%;
  box-shadow: 0px 13px 24px rgba(251, 241, 56, 0.3);
  z-index: -1;
  left: -30px;
  top: -20px;
}
.checkbox:checked,
.checkbox:not(:checked) {
  position: absolute;
  left: -9999px;
}
.checkbox:checked + label,
.checkbox:not(:checked) + label {
  position: relative;
  padding-left: 22px;
  cursor: pointer;
}
/* Стили для псевдоэлемента before с фоном и обводкой, когда пункт активен */
.checkbox:checked + label::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  left: 0;
  top: calc(50% - 10px);
  background-color: #2b3541;
  border: 2px solid #2b3541;
}
/* Стили для псевдоэлемента after с изображением, когда пункт активен */
.checkbox:checked + label::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  transition: all 0.2s ease;
  opacity: 1;
  left: 4px;
  top: calc(50% - 6px);
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/2/27/White_check.svg/2048px-White_check.svg.png);
}
/* Стили для псевдоэлемента before с фоном и обводкой, когда пункт НЕ активен */
.checkbox:not(:checked) + label::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  left: 0;
  top: calc(50% - 10px);
  background-color: transparent;
  border-radius: 2px;
  border: 2px solid #2b3541;
}
/* Стили для псевдоэлемента after с изображением, когда пункт НЕ активен */
.checkbox:not(:checked) + label::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  transition: all 0.2s ease;
  opacity: 0;
  left: 4px;
  top: calc(50% - 6px);
  background-position: 0 -12px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/2/27/White_check.svg/2048px-White_check.svg.png);
}
.radio:checked + label::before {
  border-radius: 100%;
}
.about {
  margin-bottom: 110px;
  padding-top: 15px;
}
.about-box {
  max-width: 100%;
  max-height: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.about-info {
  width: 50%;
  height: 100%;
}
.about-title {
  margin-top: 4px;
  margin-bottom: 20px;
}
p.about-text {
  margin: 0;
  margin-bottom: 55px;
}
.about-text {
  display: block;
  width: 90%;
  height: 110px;
  line-height: 150%;
}
.about-img {
  display: block;
  background-image: url(../img/about.png);
  width: 50%;
  height: 335px;
  background-repeat: no-repeat;
  background-size: cover;
}
.about-box-gradient {
  background: linear-gradient(
    180deg,
    rgba(251, 241, 56, 0.3) 0%,
    rgba(253, 249, 182, 0) 100%
  );
  width: 100%;
  height: 100%;
  transition: 0.2s;
}
.sign-up-btn {
  font-weight: 700;
  font-size: 16px;
  color: #2b3541;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.03em;
  background-color: #fbf138;
  border: none;
  box-shadow: 0px 13px 24px rgba(251, 241, 56, 0.3);
  cursor: pointer;
  padding: 23px 50px;
  transition: 0.3s;
}
.sign-up-btn:hover {
  color: #fbf138;
  background-color: #2b3541;
  box-shadow: 0px 13px 30px rgba(186, 180, 69, 0.2);
}
.about-favor {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 45px;
  margin-top: 63px;
  margin-bottom: 80px;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
}
.favor-item {
  width: 20%;
  height: 97px;
}
.favor-item:nth-child(2) {
  width: 28%;
}
.favor-item:nth-child(4) {
  width: 20%;
}
.favor-title {
  font-weight: 700;
  line-height: 125%;
  margin-bottom: 20px;
}
.favor-text {
  line-height: 150%;
  color: rgba(43, 53, 65, 0.6);
}
.footer {
  background-color: #f3f3f3;
  height: 100%;
}
.footer-content {
  padding: 45px 0 20px 0px;
}
.footer-box {
  display: flex;
  justify-content: space-between;
  background-color: #f3f3f3;
  align-items: flex-end;
  margin: 0;
  height: 100%;
  width: 100%;
}
.footer-menu {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  gap: 74px;
}
.footer-logo {
  display: block;
  background-image: url(../img/logo.svg);
  background-position: center;
  width: 97px;
  height: 30px;
  background-repeat: no-repeat;
  background-size: cover;
}
.footer-nav {
  list-style-type: none;
  display: flex;
  gap: 90px;
  padding-left: 0;
  color: #2b3541;
  justify-content: space-between;
  padding-top: 15px;
  align-items: flex-end;
  padding-top: 0;
}
ul.footer-nav {
  margin: 0;
}
.footer-nav a {
  font-size: 14px;
  text-decoration: none;
}
.footer-nav a::after {
  content: "";
  width: 100%;
  display: block;
  border-bottom: 1px solid transparent;
  padding-top: 5px;
}
.footer-nav a:hover {
  border-bottom: 1px solid rgba(43, 53, 65, 0.5);
  padding-bottom: 5px;
}
.footer-flex {
  display: flex;
  gap: 65px;
  justify-content: space-between;
  align-items: center;
}
.footer-email-address {
  font-size: 16px;
  font-weight: 700;
  z-index: 0;
  position: relative;
}
.footer-email-address::before {
  position: absolute;
  content: "";
  background: #fbf138;
  width: 25px;
  height: 25px;
  border-radius: 100%;
  box-shadow: 0px 13px 24px rgba(251, 241, 56, 0.3);
  z-index: -1;
  left: -20px;
  top: -15px;
}
.footer-links {
  display: flex;
  gap: 30px;
  align-items: center;
  outline: none;
  border: none;
}
.footer-insta-icon,
.footer-fb-icon {
  width: 27px;
  height: 27px;
  transition: 0.5s;
}
.footer-insta-icon:hover {
  transform: scale(1.2);
}
.footer-fb-icon:hover {
  transform: scale(1.2);
  transition: 0.5s;
}
.footer-info {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}
.footer-rights,
.footer-source-link,
.footer-source {
  font-size: 14px;
  color: rgba(43, 53, 65, 0.5);
}
.footer-source-link {
  text-decoration: underline;
}
.footer-source-link:hover {
  color: #2b3541;
}
/* Modal */

.burger {
  width: 34px;
  height: 22px;
  background-color: transparent;
  background-image: url(../img/burger.svg);
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  cursor: pointer;
}
#modal {
  width: 100%;
  height: 360px;
  background-color: #f3f3f3;
  text-align: left;
  position: absolute;
  top: -400px;
  left: 0;
  right: 0;
  margin: 0 auto 0;
  transition: 0.5s;
  padding: 25px 15px;
  box-sizing: border-box;
}
#modal .header-nav {
  flex-direction: column;
  width: 100%;
  margin: 0;
  align-items: baseline;
  gap: 22px;
  padding-top: 50px;
}
#modal ul.header-nav {
  margin-right: 0;
}
#modal .header-nav li:nth-child(1),
#modal .header-nav li:nth-child(2) {
  padding-bottom: 30px;
  border-bottom: 1px solid rgba(43, 53, 65, 0.2);
  width: 100%;
}
#modal .header-nav li:hover {
  margin-top: 0;
}
#modal .header-nav a::after {
  display: none;
}
#modal .header-nav a:hover {
  border-bottom: none;
}
.burger-close {
  width: 22px;
  height: 22px;
  background-color: transparent;
  background-image: url(../img/close.svg);
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 25px;
  right: 10px;
  outline: none;
  border: none;
}
.header-burger-links {
  display: flex;
  gap: 20px;
  align-items: right;
  outline: none;
  border: none;
  position: absolute;
  right: 13px;
}
.burger-insta-icon,
.burger-fb-icon {
  width: 26px;
  height: 26px;
}
.burger-insta-icon:hover {
  transform: scale(1.2);
  transition: 0.5s;
}
.burger-fb-icon:hover {
  transform: scale(1.2);
  transition: 0.5s;
}
/*popup*/
.popup {
  position: fixed;
  display: none;
  left: 0;
  top: 0;
  background-color: rgba(43, 53, 65, 0.4);
  width: 100%;
  height: 100%;
  z-index: 2;
}
.popup.active {
  display: block;
}
.pop-up-container {
  display: flex;
  width: 100%;
  height: 100%;
}
.popup-body {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  width: 510px;
  height: 575px;
  background-color: #f3f3f3;
  text-align: center;
  padding: 0 45px;
  top: 15%;
  left: 30%;
  animation: fade 0.5s;
}
.popup-title {
  position: relative;
  font-size: 28px;
  z-index: 0;
  margin-bottom: 3px;
  margin-top: 0;
  margin-left: 0;
  width: 100%;
}
.popup-subtitle {
  font-size: 28px;
  z-index: 0;
  margin-top: 0px;
  margin-bottom: 20px;
  margin-left: 0;
  width: 100%;
}
.popup-title::before {
  position: absolute;
  content: "";
  background: #fbf138;
  width: 53px;
  height: 53px;
  border-radius: 100%;
  box-shadow: 0px 13px 24px rgba(251, 241, 56, 0.3);
  z-index: -1;
  left: 80px;
  top: -35px;
}
.popup-text {
  margin-top: 0;
  margin-bottom: 38px;
  margin-left: 40px;
  margin-right: 40px;
  line-height: 150%;
}
.popup-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.popup-mail-input {
  display: block;
  border: none;
  width: 470px;
  height: 65px;
  padding-left: 25px;
}
.tel-input {
  display: block;
  border: none;
  margin-top: 20px;
  width: 470px;
  height: 65px;
  padding-left: 25px;
}
.popup-mail-input::placeholder,
.tel-input::placeholder {
  color: rgba(43, 53, 65, 0.3);
}
.popup-form input:focus {
  outline: none;
  border: 1px solid #fbf138;
}
.popup-btn {
  font-weight: 700;
  font-size: 16px;
  color: #2b3541;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.03em;
  background-color: #fbf138;
  border: none;
  box-shadow: 0px 13px 24px rgba(251, 241, 56, 0.3);
  cursor: pointer;
  transition: 0.3s;
  margin-top: 40px;
  width: 500px;
  height: 65px;
  padding: 0;
}
.popup-btn:hover {
  color: #fbf138;
  background-color: #2b3541;
  box-shadow: 0px 13px 30px rgba(186, 180, 69, 0.2);
}
.popup-close {
  position: absolute;
  top: 30px;
  right: 30px;
  width: 22px;
  height: 22px;
  background-image: url(../img/close.svg);
  cursor: pointer;
  background-repeat: no-repeat;
}
/* Responsive*/
@media (min-width: 769px) {
  .header-burger,
  #modal {
    display: none;
  }
}
@media (max-width: 1536px) {
  .banner-bg {
    right: -1%;
  }
  .banner-gradient-left {
    max-height: 795px;
  }
  .banner-gradient-right {
    max-width: 177%;
    max-height: 795px;
  }
  .banner-img {
    max-width: 117%;
    max-height: 95.5%;
    right: -45px;
  }
}
@media (max-width: 1400px) {
  .banner-bg {
    right: 4%;
  }
}
@media (max-width: 1200px) {
  .header nav {
    margin-left: 30px;
  }
  .banner {
    max-height: 100%;
    margin-bottom: 0px;
  }
  .banner-content {
    padding-top: 75px;
    margin-bottom: 75px;
  }
  .banner-bg {
    gap: 10px;
    max-width: 1150px;
    height: 66vw;
    margin: 0 auto;
    position: relative;
    right: 0;
    top: 0;
  }
  .banner-gradient-left {
    flex-grow: 1;
    height: 100%;
    max-width: 535px;
  }
  .banner-gradient-right {
    flex-basis: 30%;
    height: 100%;
  }
  .banner-img {
    width: 100%;
    height: 95%;
    margin: 0 auto;
    position: absolute;
    left: 0;
    right: 0;
    object-fit: contain;
  }
  .btn-down {
    display: none;
  }
  .event-flex {
    gap: 15px;
  }
  .event-first,
  .event-second,
  .event-third {
    width: 32%;
  }
  .plan-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 370px 300px 270px;
  }
  .plan-grid-item:nth-child(1) {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
  .plan-grid-active-item:nth-child(2) {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }
  .plan-grid-item:nth-child(3) {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }
  .plan-grid-item:nth-child(4) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }
  .plan-grid-item:nth-child(5) {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }
  .plan-grid-item:nth-child(6) {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
  }
  .about-favor {
    flex-wrap: nowrap;
  }
  .footer-email-address {
    left: 15px;
  }
}
@media (max-width: 1115px) {
  .about-favor {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .favor-item,
  .favor-item:nth-child(4) {
    width: 100%;
  }
  .favor-item:nth-child(2) {
    width: 88%;
  }
}
@media (max-width: 1080px) {
  .footer-content {
    padding: 0;
  }
  .footer-box {
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
  }
  .footer-menu {
    flex-direction: column;
    align-items: center;
    margin: 40px auto 15px auto;
    gap: 40px;
  }
  .footer-info {
    flex-direction: column;
    align-items: center;
    align-content: center;
    margin-top: 35px;
  }
  .footer-flex {
    gap: 120px;
  }
  nav {
    margin-left: 0;
  }
}
@media (max-width: 980px) {
  .banner-img {
    height: 94%;
  }
  .about-box {
    flex-wrap: wrap;
    align-items: stretch;
    height: 100%;
  }
}
@media (min-width: 834px) {
  .button a img {
    display: none;
  }
}
@media (max-width: 834px) {
  .banner-img {
    height: 93%;
  }
  .event-flex {
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
  }
  .event-first,
  .event-second {
    width: 49%;
    height: 80vw;
  }
  .event-third {
    width: 100%;
    background-image: url(../img/event/yoga_mob2.png);
  }
  .button span {
    display: none;
  }
  .button {
    cursor: pointer;
    position: absolute;
    opacity: 1;
    bottom: 0;
    right: 0;
    margin: 0;
    height: 6%;
    width: 12%;
    padding: 0;
  }
  .event-third .button {
    width: 6%;
    height: 6%;
  }
  .button a img {
    display: block;
    width: 70%;
    height: 70%;
    position: absolute;
    bottom: 5px;
    right: 6px;
  }
  .type {
    font-size: 16px;
    left: 0;
    right: auto;
    padding: 5px 10px;
    opacity: 1;
  }
  .box-gradient:hover .button,
  .box-gradient:hover .type {
    opacity: 1;
  }
  .about {
    margin-bottom: 40px;
  }
  .about-info {
    width: 100%;
  }
  .about-img {
    width: 100%;
    order: 3;
    height: 445px;
  }
}
@media (max-width: 768px) {
  .header-item {
    flex-basis: 0;
  }
  .header-logo {
    width: 78px;
    height: 24px;
  }
  .insta-icon,
  .fb-icon {
    width: 26px;
    height: 26px;
  }
  .header nav {
    display: none;
  }
  .plan {
    margin-bottom: 95px;
  }
  .mail-form {
    flex-direction: column;
  }
  .mail {
    margin-bottom: 90px;
  }
  .header {
    margin: 25px 0px;
  }
}
@media (max-width: 756px) {
  .banner-img {
    height: 93%;
  }
  .plan-grid {
    display: flex;
    flex-direction: column;
  }
  .plan-item-box {
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: start;
  }
  .plan-date {
    margin-bottom: 0px;
  }
  .plan-grid-item,
  .plan-grid-active-item {
    padding: 25px 22px 0px 25px;
  }
  .plan-grid-active-item .plan-item-text {
    margin-bottom: 0;
  }
  .plan-grid-active-item .plan-item-box {
    display: grid;
    position: relative;
    grid-template-columns: 17% 80%;
    grid-template-rows: 10% 10% 55%;
    max-width: 100%;
    height: 100%;
  }
  .plan-grid-active-item .plan-item-box .plan-img {
    grid-column: 1 / 2;
    grid-row: 1 / 4;
  }
  .plan-grid-active-item .plan-item-box .plan-item-title {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }
  .plan-grid-active-item .plan-item-box .plan-item-text {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
  }
  .plan-item-box {
    display: grid;
    grid-template-columns: 17% 80%;
    grid-template-rows: 10% 10% 55%;
    max-width: 100%;
    height: 100%;
    align-items: start;
    gap: 20px;
  }
  .plan-item-box .plan-img {
    grid-column: 1 / 2;
    grid-row: 1 / 4;
  }
  .plan-item-box .plan-item-title {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }
  .plan-item-box .plan-item-text {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
  }
}
@media (max-width: 676px) {
  .banner-title {
    font-size: 46px;
  }
}
@media (max-width: 667px) {
  .banner-img {
    height: 91%;
  }
  .banner-btn,
  .sign-up-btn {
    display: inline-block;
    width: 100%;
    text-align: center;
    padding-left: 0;
    padding-right: 0;
  }
  .event-third {
    height: 80vw;
  }
  .banner-box {
    margin-left: 0;
    margin-right: 0;
  }
  .event-name {
    font-size: 16px;
  }
}
@media (min-width: 650px) {
  .plan-img-mob {
    display: none;
  }
}
@media (max-width: 650px) {
  .banner-title {
    font-size: 26px;
  }
  .banner-info,
  h1,
  h2 {
    font-size: 26px;
  }
  h3,
  p {
    font-size: 16px;
  }
  .plan-period {
    margin: 0px 0px 50px 0px;
    font-size: 26px;
  }
  .plan-img {
    display: none;
  }
  .plan-grid {
    gap: 15px;
  }
  .plan-date {
    margin-bottom: 23px;
  }
  .mail-title::before {
    width: 31px;
    height: 31px;
    left: 15px;
    top: -15px;
  }
  .about-favor {
    grid-template-columns: 1fr;
  }
  .about-img {
    height: 208px;
  }
  .plan-grid-item,
  .plan-grid-active-item {
    padding: 25px 22px 0px 18px;
  }
  .plan-grid-active-item .plan-item-box {
    grid-template-columns: 12% 80%;
    grid-template-rows: 10% 55%;
  }
  .plan-item-box {
    grid-template-columns: 12% 80%;
    grid-template-rows: 10% 55%;
    align-items: center;
  }
  .plan-grid-active-item .plan-item-box .plan-img,
  .plan-item-box .plan-img {
    grid-row: 1 / 3;
  }
  .plan-grid-active-item .plan-item-box .plan-item-title,
  .plan-item-box .plan-item-title {
    grid-row: 1 / 2;
  }
  .plan-grid-active-item .plan-item-box .plan-item-text,
  .plan-item-box .plan-item-text {
    grid-row: 2 / 3;
  }
}
@media (max-width: 550px) {
  .banner-img {
    height: 86.5%;
  }
  .event-third .button {
    width: 6%;
    height: 6%;
  }
  .button a img {
    bottom: 3px;
    right: 3px;
  }
  .mail-title::before {
    left: 40px;
  }
  .event-first,
  .event-second {
    width: 48%;
  }
  .footer-nav a,
  .footer-email-address {
    font-size: 12px;
  }
  .footer-rights,
  .footer-source,
  .footer-source-link {
    font-size: 10px;
  }
}
@media (max-width: 480px) {
  .footer-nav {
    gap: 35px;
  }
  .mail-title::before {
    left: 7px;
  }
}
@media (max-width: 436px) {
  .mail-title::before {
    left: 53px;
  }
}
@media (max-width: 406px) {
  .event-first .event-box,
  .event-second .event-box {
    padding: 10px 30px 0 15px;
  }
  .event-third .event-box {
    padding: 10px 135px 0px 15px;
  }
}
@media (max-width: 392px) {
  .banner-content {
    padding-top: 32px;
  }
  .event {
    margin-bottom: 79px;
  }
  .event-title {
    margin-bottom: 22px;
  }
  .banner-title {
    font-size: 20px;
  }
  .banner-info h1,
  h2 {
    font-size: 20px;
  }
  .banner-text {
    font-size: 15px;
  }
  .mail-title::before {
    left: 35px;
  }
}
@media (max-width: 360px) {
  .banner-img {
    height: 83.5%;
  }
  .date,
  .event-name {
    font-size: 14px;
  }
  .banner-bg {
    gap: 10px;
  }
  .banner-info,
  .plan-period,
  h1,
  h2 {
    font-size: 20px;
  }
  .plan-period {
    margin: 0;
  }
  .mail {
    margin-bottom: 20px;
  }
  .date {
    margin: 0;
    opacity: 0.6;
    margin-bottom: 7px;
  }
  .event-name {
    margin: 0;
    margin-bottom: 42px;
  }
  .mail-title::before {
    left: -15px;
    top: -15px;
  }
}
@media (max-width: 320px) {
  .banner-img {
    height: 81.5%;
  }
  .burger {
    margin-right: 20px;
  }
  .event-first .event-box,
  .event-second .event-box {
    padding: 12px 0 0 10px;
  }
  .event-third .event-box {
    padding: 12px 90px 0 10px;
  }
  .plan-item-box {
    grid-template-columns: 15% 80%;
    grid-template-rows: 15% 55%;
  }
  .mail-title::before {
    left: 20px;
    top: -16px;
  }
  label,
  .mail-data {
    font-size: 10px;
  }
  p.about-text {
    margin-bottom: 110px;
  }
  .footer-nav {
    gap: 20px;
  }
  .footer-flex {
    gap: 100px;
  }
  .footer-links {
    gap: 15px;
  }
}
